

#terminal {
    background-color: #000;
    color: #00ff00;
    padding: 20px;
    font-family: monospace;
}

#terminal-output {
    white-space: pre-line;
}

#terminal-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #00ff00;
    font-family: monospace;
    width: 100%;
}


/* Allgemeiner Stil für das Portfolio */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0078d4;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

section {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    color: #0078d4;
}

hr {
    border: 1px solid #e0e0e0;
}

p {
    font-size: 16px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #0078d4;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #004a85;
}

/* Füge hier weitere spezifische Stile für Abschnitte, Links und Elemente hinzu. */

/* Stile für Links mit Font Awesome Icons */
i.fab {
    margin-right: 5px;
    font-size: 20px;
}

i.far {
    margin-right: 5px;
    font-size: 20px;
}

/* Allgemeine Stile für soziale Medien-Links */
.social-link {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

