/* Allgemeine Formatierung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 28px;
    text-decoration: underline;
}

/* Abschnitte */
section {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Überschriften und Trennlinien */
h2 {
    font-size: 24px;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

hr {
    border: none;
    border-top: 2px solid #007BFF;
    margin: 10px 0;
}

/* Projekte */
ul {
    list-style: none;
}

ul li {
    margin-bottom: 20px;
}

/* Links */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Fett gedruckter Text */
b {
    font-weight: bold;
}
